{% extends "base_widget.html" %}

{% block additional_deps %}
<script src="{{ url_for('static', filename='js/moment-with-locales.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/punchcard.js', _external=True) }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/punchcard.css', _external=True) }}">

<script src="{{ url_for('punchcard.static', filename='js/punchcard_widget.js', _external=True) }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('punchcard.static', filename='css/punchcard_widget.css', _external=True) }}">
{% endblock %}

{% block additional_javascript %}
new $.punchcard_widget("{{ widgetsConfig.uuid }}", {{ widgetsConfig | tojson }});
{% endblock %}
