{% extends "base_widget.html" %}

{% block additional_deps %}
<script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
<script src="{{ url_for('static', filename='js/punchcard.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/punchcard.css') }}">

<script src="{{ url_for('punchcard.static', filename='js/punchcard_widget.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('punchcard.static', filename='css/punchcard_widget.css') }}">
{% endblock %}

{% block additional_javascript %}
new $.punchcard_widget("{{ widgetsConfig.uuid }}", {{ widgetsConfig | tojson }});
{% endblock %}
