<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js', _external=True) }}"></script>
<link href="{{ url_for('static', filename='css/font-awesome.min.css', _external=True) }}" rel="text/css">
<!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
<!-- sb-admin CSS -->
<link href="{{ url_for('static', filename='css/sb-admin-2.css', _external=True) }}" rel="stylesheet">
<!-- jQuery-UI -->
<script src="{{ url_for('static', filename='js/jquery-ui.min.js', _external=True) }}"></script>
<link href="{{ url_for('static', filename='css/jquery-ui.min.css', _external=True) }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for('static', filename='css/base.css', _external=True) }}" rel="stylesheet" type="text/css" />

<script src="{{ url_for('static', filename='js/widget-helper.js', _external=True) }}"></script>
<link href="{{ url_for('static', filename='css/widget-style.css', _external=True) }}" rel="stylesheet" type="text/css" />
