{% include 'basic_widget_dependencies.html' %}

<div id="{{ widgetsConfig.uuid }}"
data-widgetName="{{ widgetsConfig.name }}"
data-config='{{ widgetsConfig | tojson }}'
>{{ widgetsConfig.name }}</div>

<div id="wrapper">
    {% block widget_type %}
    {% endblock %}
</div>
<!-- /#wrapper -->


{% for js in js_deps %}
    <script src="{{ url_for('static', filename='js/'+js) }}"></script>
{% endfor %}
{% for css in css_deps %}
    <link href="{{ url_for('static', filename='css/'+css) }}" rel="stylesheet" type="text/css"/>
{% endfor %}

{% block additional_deps %}
{% endblock %}

<script>
{% block additional_javascript %}
{% endblock %}
</script>
