{% extends "base_widget.html" %}

{% block additional_deps %}
<script src="{{ url_for('static', filename='js/leaflet.js', _external=True) }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css', _external=True) }}">
<script src="{{ url_for('static', filename='js/moment-with-locales.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/jquery.daterangepicker.min.js', _external=True) }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.min.css', _external=True) }}">

<script src="{{ url_for('geoquery.static', filename='js/geoquery.js', _external=True) }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('geoquery.static', filename='css/geoquery.css', _external=True) }}">
{% endblock %}

{% block additional_javascript %}
new $.geoquery("{{ widgetsConfig.uuid }}", {{ widgetsConfig | tojson }});
{% endblock %}
