<!DOCTYPE html>
<html lang="en">

<head>

    <title>MISP Empty</title>
    {% include 'basic_dependencies.html' %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'navbar.html' %}

        <!-- Page Content -->
        <div id="page-wrapper" style="margin: 0px; padding: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="panel panel-default" style="">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                </div>
                                <div id="panelbody" class="panel-body" style="">
                                    <div id="panel1" style="width:100%; height: 100%;"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-default" style="">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                </div>
                                <div id="panelbody" class="panel-body" style="">
                                    <div id="panel2" style="width:100%; height: 100%;"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="panel panel-default" style="">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                </div>
                                <div id="panelbody" class="panel-body" style="">
                                    <div id="panel3" style="width:100%; height: 100%;"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-default" style="">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                </div>
                                <div id="panelbody" class="panel-body" style="">
                                    <div id="panel4" style="width:100%; height: 100%;"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div><!-- row -->

            </div> <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
<!-- /#wrapper -->

    <!-- Index -->
    <script>
        /* URL */

        /* DATA FROM CONF */

    </script>

    <script src=""></script>

</body>

</html>
